<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <meta charset="utf-8">
    <title>Settings</title>
</head>

<body>
    <center>
        <h1>不要做挑战</h1>
        <form action="/settings" method="post">
            <h2>卡牌数量</h2>
            <p>每个玩家初始持有的卡牌数量</p>
            <input type="number" min="1" name="quantity" value={{ game.settings.get('quantity') }}>
            <h2>额外卡牌</h2>
            <p>优先覆盖默认卡牌库，每行一条</p>
            <textarea id="extraCards" name="extraCards" rows="6" placeholder="One entry per line">{% if game.settings.get('extraCards')|length > 1 %}{% for card in game.settings.get('extraCards') %}
{{ card }}{% endfor %}{% endif %}</textarea>
            <br>
            <input type="submit" onclick="location.href='/';" value="Submit">
        </form>

        <footer>
            <small>&copy; 2020 <a href="https://hisenz.com">Hisen Zhang</a></small>
        </footer>
    </center>
</body>

</html>